@charset "UTF-8";

body{
    background-color: #F2F0EB;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

header{
    height: 100px !important;
    max-height: 100px;
}

.navbar-header{
    background-color: #021F59 !important;
    height: 100px !important;
}

.container-fluid .navbar-brand img{
    max-height: 100px;
}

#navbarSupportedContent a{
    color:#F2F0EB;
    font-size: 20px;
    font-family: Italiana, Arial, Helvetica, sans-serif;
}

.dropdown-menu li a{
    color: #021F59 !important;
    font-weight: bold;
}

.dropdown-menu{
    background-color: #F2F0EB;
}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F2F0EB;
    transition: width 0.3s ease;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-profile:hover::before {
    content: none !important;
}

.btn-outline-success{
    border: none;
}

.btn-outline-success:hover{
    background-color: transparent;
    cursor: pointer;
}

.bi-search{
    color: #F2F0EB;
}

.list-itens{
    margin-right: auto;
    margin-left: auto;
    gap: 1rem;
}

.list-icon{
    margin-left: 0;
    margin-right: 0 !important;
}

.btn-bag{
    background-color: transparent;
    border: none;
}

.btn-bag:hover{
    background-color: transparent;
}

.btn-bag:active{
    background-color: transparent !important;
}

.bi-search, .bi-person, .bi-bag{
    font-size: 20px !important;
}
