@charset "UTF-8";

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border: 0%;
    margin: 0%;
    min-height: 100%;
}



header{
    background-color: #00154E !important;
    color: #F4F4F9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.linha-drop{
    padding: 0 !important;
}

.bg-light{
    background-color: #00154E !important;
    height: 150px;
    position: static;
}
    .nav-link{
        margin-right: 25px;
        transition: 0.5s;
        font-weight: bold;
        border-radius: 8px;
    }

    .nav-link:hover{
        font-weight: bold;
        color: #00154E  !important;
        background-color: #F4F4F9;
        padding: 5px;
        border-radius: 8px;
        transition: 0.5s;
    }

.logo{
    width: 220px !important;
    height: 140px !important;
}

.navbar-collapse > ul > li > a{
    color: #F4F4F9 !important;
}



.mr-sm-2{
    width: 400px !important;
    text-align: center !important;

}

.my-sm-0{
    text-decoration: none !important;
    height: 0%;
    background-color: transparent !important;
    border-color: transparent !important;
    color: transparent !important;
}

.my-sm-0 > img{
    height: 40px;
    width: 40px;
    background-color: transparent !important;
    border-bottom-color: transparent !important;
    color: transparent !important;
}

.my-sm-0 > img:hover{
    background-color: transparent !important;
    border: none;
    color: transparent;

}

.dropdown-menu{
    display: none;
}

#navbarDropdown:hover{
    .dropdown-menu{
        display: flex;
    }

}

footer{
    bottom: 0 !important;
    width: 100%;
    padding: 50px;
    background-color: #00154e48;
    box-sizing: border-box;
}

.container{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mb-4{
    align-items: center;
    text-align: center;
    img{
        width: 20px;
    }
}

.text-center{
    text-align: center;
    font-weight: bold;
}