@charset "UTF-8";

body{
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border: 0%;
    margin: 0%;
    min-height: 100%;
    width: 100%;
}



header{
    background-color: #00154E !important;
    color: #F4F4F9;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.div-login{
    display: flex;

}

.login{
    color: #F4F4F9;
    font-weight: bold;
    text-align: end;
    align-items: end;
    justify-content: end;
    margin-left: auto;
    padding: 0px 16px ;
    text-decoration: none;
}

.login:hover{
    color: #F4F4F9;
    text-decoration: none;
}

.linha-drop{
    padding: 0 !important;
}

.bg-light{
    background-color: #00154E !important;
    height: 110px;
    position: static;
    padding-top: 0px;
}
    .nav-link{
        margin-right: 25px;
        transition: 0.5s;
        font-weight: bold;
        border-radius: 8px;
    }

    .nav-link:hover{
        font-weight: bold;
        color: #00154E  !important;
        background-color: #F4F4F9;
        padding: 5px;
        border-radius: 8px;
        transition: 0.5s;
    }

.navbar-brand{
    padding-top: 0px;
}

.logo{
    width: 220px !important;
    height: 140px !important;
    margin-left: 5px;
}

.navbar-collapse > ul > li > a{
    color: #F4F4F9 !important;
    
}

.mr-auto{
    margin-right: 80px !important;
}

.mr-sm-2{
    width: 400px !important;
    text-align: center !important;

}

.my-sm-0{
    text-decoration: none !important;
    height: 0%;
    background-color: transparent !important;
    border-color: transparent !important;
    color: transparent !important;
}

.my-sm-0 > img{
    height: 40px;
    width: 40px;
    background-color: transparent !important;
    border-bottom-color: transparent !important;
    color: transparent !important;
}

.my-sm-0 > img:hover{
    background-color: transparent !important;
    border: none;
    color: transparent;

}

.dropdown-menu{
    display: none;
}

#navbarDropdown:hover{
    .dropdown-menu{
        display: flex;
    }

}

.div-cart{
    min-height: auto;
    display: inline-block;
    position: relative;
}

.carrinho{
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: transparent;
    border: none;
}

.carrinho:hover{
    text-decoration:none
}

.carrinho-img{
    width: 40px;
    height: 40px;
}

#cart-count{
    position: absolute;
    top: 2px;
    right: -3px;
    background-color: #F4F4F9;
    border-radius: 15px;
    color: #00154E;
    font-weight: bolder;
    font-size: 16px;
    width: 20px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer.bg-body-tertiary{
    bottom: 0 !important;
    width: 100%;
    padding: 20px;
    background-color: #00154e48 !important;
    box-sizing: border-box;
}

.container{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mb-4{
    align-items: center;
    text-align: center;
    img{
        width: 20px;
    }
}

.text-center{
    text-align: center;
    font-weight: bold;
}

.offcanvas {
    display: block;
    visibility: hidden; 
    min-height: auto !important;

}

#offcanvasRight{
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px;
}

.offcanvas-header{
    background-color: #00154E;
    color: #F4F4F9;
    width: 100%;
    border-top-left-radius: 10px;
}

#offcanvasWithBothOptionsLabel{
    text-align: center !important;
    align-items: center !important;
}

.btn-close{
    color: #F4F4F9 !important;
}