@charset "UTF-8";

main{
    min-height: 90vh;
    background-color: #F2F0EB;
}

.splide__slide img {
    width: 100%;
    height: auto;
}

.conheca{
    padding: 50px;
    background-color: #F2F0EB;
}

.conheca .section-title h2{
    color: #403A20;
}

.section-title{
    text-align: center;
    font-family: "Young Serif", Arial, Helvetica, sans-serif;
    margin-bottom: 3rem;
}

.container-produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.splide__pagination {
    bottom: -2rem;
    z-index: 5;
}

.slide-card {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.card{
    width: 286.4px !important;
}

.card-img{
    height: 286.4px !important;
}

.card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-veja-mais{
    border-color: #403A20;
    background-color: #403A20;
    transition: .3s;
}

.btn-veja-mais:hover{
    background-color: #504a30;
    border-color: #504a30;
    transition: .3s;
}

.destaques{
    background-color: #1E3259;
    padding: 50px;
}

.destaques .section-title h2{
    color: #F2F0EB;
}

.card-text{
    margin: 0;
}

.text-default{
    color: #757575;
}