@charset "UTF-8";

/*
azul royal: #00154E
branco fantasma: #F4F4F9
azul: #1D84B5
*/

body{
    background-color: #F4F4F9;
}

main{
    margin: 3rem;
}



.title-sobre{
    color: #000;
    text-align: center;
    font-weight: bolder;
}

.sub-title-sobre{
    color: #00154E !important;
    text-align: justify;
    font-weight: bold;
    margin-bottom: 2rem;
    

}

.text-sobre{
    
    font-size: 20px;
    color: #000;
    font-weight: lighter;
    text-align: justify;
    margin-bottom: 2rem;

}