<h1>Seu Carrinho</h1>
<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in produtos_no_carrinho %}
        <tr>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.quantidade }}</td>
            <td>R$ {{ item.produto.preco }}</td>
            <td>R$ {{ item.subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"><strong>Total</strong></td>
            <td><strong>R$ {{ total }}</strong></td>
        </tr>
    </tfoot>
</table>

<a href="{% url 'remover_do_carrinho' item.produto.id %}">Remover</a>