{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

    <title>Balm</title>
</head>
<body>

    
{% block content %}
    <main>
        <section class="grid-prod">
            {% if velas %}
            <h1>Destaques</h1>
                {% for vela in velas|slice:":4" %}
                <a href="{% url 'detail' vela.pk %}">
                  <div class="card-pai">
                    <div class="card">
                        <img class="card-img-top" src="{{ vela.foto.url }}" alt="Imagem de capa do card">
                        <h3>{{vela.categoria}}</h3>
                        <h4>{{vela.tamanhos}}</h4>
                        <p>R$ {{vela.valor}}</p>
                        <button class="buy"><img src="{% static 'img/bag-items2.png' %}" alt="sacola de compras" class="bag"></button>
                      </div>
                  </div>
                </a>
                {% endfor %}

                {% else %}
                <p class="no-results">No momento estamos com esse produto indisponível :( </p>
            {% endif %}
        </section>
        <button class="see-more">Veja mais</button>
    </main>

    <section class="moments">
      <h2>Presente nos melhores momentos!</h2>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/moments3.png' %}" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/moments3.png' %}" alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/moments3.png' %}" alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
      <p class="text-moments">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam fugit ea, incidunt recusandae nulla iure, deleniti fugiat dolore, ipsa nemo dignissimos. Veniam illum amet beatae at quibusdam doloribus sed nobis.</p>
    </section>

    <section class="events">
      <h2 class="title-events">Eventos e datas especiais</h2>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active carousel-events">
            <img class="d-block w-100" src="{% static 'img/diadamulher.png' %}" alt="Primeiro Slide">
          </div>
          <div class="carousel-item carousel-events">
            <img class="d-block w-100" src="{% static 'img/diadamulher.png' %}" alt="Segundo Slide">
          </div>
          <div class="carousel-item carousel-events">
            <img class="d-block w-100" src="{% static 'img/diadamulher.png' %}" alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
      <p class="text-events">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit porro sint provident voluptatem doloribus aut illo, et adipisci minus voluptates, ex labore aperiam odit asperiores obcaecati laborum numquam commodi dignissimos!</p>
    </section>


{% endblock %}
</body>
</html>