{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/personalizar.css' %}">
{% endblock %}

    <title>Balm</title>
    
</head>
<body>  
    {% block content %}
    <main class="personalizar">
        <h1>Tudo Personalizável</h1><br>
        <p>A todos que buscam iluminar cada momento com um toque especial. Seja para eventos corporativos, decoração de estabelecimentos, lembranças de festas inesquecíveis, ou até mesmo para adicionar um toque acolhedor a um hotel ou centro de massagens, nossa loja de velas totalmente personalizáveis está aqui para dar vida às suas ideias.</p> <br>
        <p>Acreditamos que cada ocasião merece um brilho único, e é por isso que oferecemos um serviço de personalização que permite que você crie velas sob medida para atender às suas necessidades. Do design ao aroma, cada detalhe é cuidadosamente planejado para refletir sua visão e identidade.</p><br>
        <p>Para eventos corporativos, nossas velas personalizadas podem ter um toque sofisticado na sua imagem de marca, criando um ambiente acolhedor para convidados e parceiros. Em estabelecimentos, nossas velas podem ser a peça central da atmosfera que você deseja criar. E para momentos de relaxamento, oferecemos a indulgência aromática perfeita para hotéis, spas e centros de massagens.</p><br>
        <p>Quando se trata de design, as opções são ilimitadas. Quer você tenha uma ideia clara em mente ou precise de orientação, nossa equipe está pronta para transformar sua visão em realidade. Além disso, escolha entre uma variedade de fragrâncias envolventes que proporcionarão uma experiência olfativa única.</p><br>
        <p>Acreditamos que cada vela é uma história, e cada chama carrega um significado. É por isso que investimos cuidado e paixão em cada vela que criamos. Nossos produtos são feitos com materiais de alta qualidade, garantindo uma queima limpa e duradoura.</p><br>
        <p>Seja um evento marcante, um momento relaxante ou um presente inesquecível, nossas velas personalizadas têm o poder de transformar a atmosfera. Junte-se a nós nessa jornada criativa e aromática, onde cada vela é uma expressão única da sua personalidade e estilo.</p><br>
        <p>Explore as infinitas possibilidades de personalização e faça cada ocasião brilhar com a luz única das nossas velas. Entre em contato conosco pelo Whatsapp para começar a criar suas velas personalizadas e iluminar o mundo à sua maneira.</p><br>
    </main>

    {% endblock %}
</body>
</html>